html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root { 
    --primary_btn_footer : #fa6400; 
}

* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
	font-style: normal;
}
.right
{
	margin-right: 30px;
}
.left {
	margin-left: 30px;
}
nav {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
	width: 100%;
 	background-color: #fff;
 	position: fixed;
  	top: 0;
  	left: 0;
  	z-index: 1000;
	box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);

}

 #kfc{
    max-width: 100px;

}


/* CSS */
.nav-btn, .mid-btns, .lower-btn {
  align-items: center;
  background-clip: padding-box;
  background-color: var(--primary_btn_footer);
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.mid-btns {
	display: flex;
	width: 80%;
	font-size: 30px;
	gap: 15px;
}

.btns {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 80%;
	justify-content: center;
	align-items: center;
}

.mid-section {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.img-mid {
	width: 50%;
}

.lower {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 20px;
}

.card {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 0;
	margin: 10px;
	width: 25%;
	font-size: 20px;
	border: 1px solid black;
	border-radius: 20px;
	overflow: hidden;
	
}

.lower-img {
	height: 50%;
}



.lower-card {
	display: flex;
	flex-direction: column;
	align-items: space-evenly;
	background-color:beige;
	height: 50%;
	}

.text {
	margin-bottom: 10px;
	margin-top: 10px;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.lower button {
	align-self: flex-end;
	position: relative;
	bottom: -40px;
	margin-right: 20px;
}



.nav-btn:hover,
.nav-btn:focus {
  background-color: var(--primary_btn_footer);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.nav-btn:hover {
  transform: translateY(-1px);
}

.nav-btn:active {
  background-color: var(--primary_btn_footer);
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}


header {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2)
}

#logo_text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

.logo{display: flex;
align-items: center;
gap: 20px;
justify-content: center;}

.about-mid {
		padding-top: 120px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		justify-content: center; /* Adjust to be more than or equal to the height of your navbar */
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	}
	
#about-title {
	color: var(--primary_btn_footer);
	font-size: 50px;
}

.upper-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	gap: 10px;
}


.card-about {
	border: 1px solid black;
	width: 80%;
	height: 600px;
	border-radius: 30px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 10px;	
}

.card-about img {
	width: 100%;
	height:50%;
	object-fit: cover;
}

.card-title {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 50px;
	color: var(--primary_btn_footer);
}

.lower-about{
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin: 5px;
}

.card-text {
	font-size: 25px;
	margin: 5px
}

#title-des {
	font-size: 20px;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: var(--primary_btn_footer);
    padding: 70px 0;
	margin-top: 20px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


